<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-meta/iron-meta.html">
<link rel="import" href="file-icons.html">

<!--
The `file-icon` element displays an file icon based on the 
supplied file extension.

@demo demo/index.html 
-->
<dom-module id="file-icon">
    <template>
        <style>
            :host {
                @apply(--layout-inline);
                @apply(--layout-center-center);
                position: relative;
                vertical-align: middle;
                fill: inherit;
                stroke: none;
                width: 24px;
                height: 24px;
            }
        </style>
    </template>

    <script>
        Polymer({
            is: 'file-icon',

            properties: {
                /**
                 * file extension
                 * @type {String}
                 */
                ext: {
                    type: String,
                },

                /**
                 * @type {!Polymer.IronMeta}
                 */
                _meta: {
                    value: Polymer.Base.create('iron-meta', {type: 'iconset'})
                }
            },

            observers: [
                '_updateIcon(ext)'
            ],

            _updateIcon: function(ext) {
                switch(ext.toLowerCase()) {
                    case "n/a":
                        this._iconName = "folder";
                        this.style.fill = "#4FC3F7";
                        break;
                    case "pdf":
                        this._iconName = "pdf";
                        this.style.fill = "#ff1313";
                        break;
                    case "gif":
                        this._iconName = "gif";
                        this.style.fill = "#cc68c0";
                        break;
                    case "bmp":
					case "png":
					case "jpeg":
					case "jpg":
					case "tif":
					case "tiff":
                        this.style.fill = "#cc68c0";
                        this._iconName = "image";
                        break;
                    case "3G2":
					case "3gp":
					case "avi":
					case "flv":
					case "m4v":
					case "mov":
					case "mp4":
					case "mpg":
					case "rm":
					case "swf":
					case "vob":
					case "wmv":
						this.style.fill = "#a49f63";
                        this._iconName = "video";
                        break;
                    case "xlr":
					case "xls":
					case "xlsx":
						this.style.fill = "#88c7cc";
                        this._iconName = "spreadsheet";
                        break;
                    case "aif":
					case "iff":
					case "m3u":
					case "m4a":
					case "mid":
					case "mp3":
					case "mpa":
					case "wav":
					case "wma":
						this.style.fill = "#38d8bc";
                        this._iconName = "audio";
                        break;
                    case "doc":
					case "log":
					case "odt":
					case "rft":
					case "tex":
					case "txt":
						this.style.fill = "#747474";
                        this._iconName = "text";
                        break;
                    case "pkg":
					case "rar":
					case "rpm":
					case "tar":
					case "tgz":
					case "zip":
					case "zipx":
						tthis.style.fill = "#575757";
                        this._iconName = "compressed";
						break;
                    case "unknown":
                    default:
                        this.style.fill = "#ccc";
                        this._iconName = "unknown";
                }
                this._iconset = this._meta.byKey('files');
                this._iconset.applyIcon(this, this._iconName);
                this.updateStyles();
                this.unlisten(window, 'iron-iconset-added', '_updateIcon');
            }
        });
    </script>
</dom-module>